$github-preto: #24292e;
$github-cinza: #2b3137;
$github-cinza-suave: #fafbfc;
$light-gray: #F0F0F0;
$light-cream: #FEEDCB;
$github-branco: #ffffff;
$github-verde-claro: #2dba4e;
$brilliant-azure: #009FFF;
$vivid-blue: #0074D9;
$pale-green: #E0EED2;
$dark-green: #15803D;
$dark-olive-green: #505F04;
$vivid-green: #239D12;
$olive-green: #6B8E23;