$white: #ffffff;
$light-gray: #F0F0F0;
$light-cream: #FEEDCB;
$light-green: #2dba4e;
$brilliant-azure: #009FFF;
$vivid-blue: #0074D9;
$pale-green: #E0EED2;
$dark-green: #15803D;
$dark-olive-green: #505F04;
$vivid-green: #239D12;
$olive-green: #6B8E23;
$gray: #2b3137;
$black: #000;
$brown: #a52a2a;