$github-preto: #24292e;
$github-cinza: #2b3137;
$github-cinza-suave: #fafbfc;
$github-branco: #ffffff;
$github-verde-claro: #2dba4e;
$blue: #009FFF;
$pale-green: #E0EED2;
$dark-green: #15803D;
$dark-olive-green: #505F04;
$vivid-green: #239D12;