@import "../variables/colors/colors.scss";

@import "../variables/common/breakpoint.scss";

@import "../variables/fonts/fonts.scss";

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    
    background-color: $dark-olive-green;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

    .footerContent {
        .footerTitle {
            font-size: 1.75rem; //28px
            color: brown;

            .tech {
                color: $brilliant-azure;
            }
        }

        a {
            font-size: 1.0625rem; //17px

            background-image: 
            linear-gradient(
                transparent 0%,
                transparent 90%,
                white 93%,
                white 100%
            );
        
            background-repeat: no-repeat;
            background-size: 0% 100%;
            background-position-x: right;
        
            transition: background-size 450ms, color 450ms;
    
            &:hover {
                background-size: 100% 100%;
                background-position-x: left;
            }
        }
    }

    .footerSeparator {
        display: none;
    }
    
    .footerNav {
        div {
            display: grid;

            a {
                text-decoration: underline;

                transition: all 450ms;
            }

            &:hover {
                a:not(:hover) {
                    color: #8B949E;
                }
            }
        }
    }
}

@media (max-width:425px) {
    footer {
        display: block;
        padding: 1.5em 2em;

        .footerContent {
            padding: 0 0 1em 0;
        }

        .footerSeparator {
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
        }
    
        .footerNav {
            padding: 1em 0 0 0;
        }
    }
}