@import "../variables/colors/colors.scss";

@import "../variables/fonts/fonts.scss";

header {
    nav {
        background-color: $github-preto;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;

            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 1.4em;
            padding: 0.4em;
            color: $github-branco;

            a:hover {
                cursor: crosshair;
            }
        }
    }
}