@import "../variables/colors/colors.scss";

@import "../variables/common/breakpoint.scss";

@import "../variables/fonts/fonts.scss";

header {
    position: fixed;
    width: 100%;
    z-index: 20;

    nav {
        padding: 7px 45px;
        //box-shadow: 0px 2px 20px #012a705b;
        height: 2.5em;
        background-color: rgb(255 255 255);

        .menu-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            padding: 5px;
            border-radius: 10px;
            box-shadow: rgb(0 0 0 / 29%) 0px 0px 8px;
            background-color: rgb(255 255 255);
            width: 54em;
            margin: 0 auto;

            .logo {
                padding: 0em 0.4em;
                /*position: fixed;
    
                top: 4.5%; 7%
                left: 50%;
                transform: translateX(-50%);*/
    
                a {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 2.2em;

                    color: brown;
                    transition: all 0.5s ease-out;

                    .tech {
                        color: $brilliant-azure;
                    }

                    &:hover {
                        font-size: 2.3em
                    }
                }
            }

            .separator {
                width: 1px; /* Largura da barra */
                height: 20px; /* Altura da barra (ajuste conforme necessário) */
                background-color: #000; /* Cor da barra */
                margin: 0 10px; /* Espaçamento igual nos dois lados da barra */
            }

            ul {
                list-style: none;
                line-height: 0;
                text-align: center;
                width: 458px;

    
                li {
                    display: inline-block;
                    padding: 10px;
                    vertical-align: middle;
                    color: $brilliant-azure;
                    
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 700;
                    font-size: 1.3em;
                    
                    a {
                        background-image: 
                        linear-gradient(
                            transparent 0%,
                            transparent 90%,
                            $brilliant-azure 93%,
                            $brilliant-azure 100%
                        );
                    
                        background-repeat: no-repeat;
                        background-size: 0% 100%;
                        background-position-x: right;
                    
                        transition: background-size 450ms, color 450ms; /*1s = 1000ms*/
    
                        &:hover {
                            background-size: 100% 100%;
                            background-position-x: left;
                            color: $brilliant-azure; /*#8B949E*/
                        }
                    }
                }
    
                &:hover {
                    li a:not(:hover) {
                        color: $github-cinza;
                    }
                    li:nth-child(5) a:not(:hover) {
                        color: $github-preto;
                    }
                }
            }

            .menu-icon {
                display: none;
    
                img {
                    width: 4em;
                    margin: 0em 6px;
                }
            }
        }
    }
}

main {
    padding: 5em 0em 0em 0em;
}

@media (max-width:1000px) {
    header {
        nav {
            .menu-wrapper{
                width: 100%;
            }
        }
    }
}

@media (max-width:770px) {
    header {
        nav {
            padding: 7px 10%;

            .menu-wrapper {
                justify-content: space-evenly;

                ul {
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 94%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transform: translateX(100%);
                    transition: transform 0.6s ease-in;
                    background-color: #ffffffc7;
                }
    
                ul.open {
                    transform: translateX(0);
                }
    
                .menu-icon {
                    display: block;
                    z-index: 10;
                }
            }
        }
    }

    main {
        padding: 5.5em 0em 0em 0em;
    }
}