@import "../variables/colors/colors.scss";

@import "../variables/common/breakpoint.scss";

@import "../variables/fonts/fonts.scss";

main {
    font-family: 'Montserrat', sans-serif;
}

.PrincipalContainer {
    .ApresentaçãoTC {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .TCardContent {

            position: absolute;
            color: white;
            z-index: 10;
            padding: 0em 1em;

            .TCardTitle {
                font-family: 'Roboto', sans-serif;
                font-size: 3.4em;
                font-weight: 600;
            }

            .TCardDescription {
                font-size: 1.3em;
                font-weight: 500;
            }
        }

        .TCardImage {
            width: 100%;

            img {
                width: 100%; /*A imagem ocupará 100% da largura do site*/
                height: 25em; /*Altura fixa de 20em*/
                object-fit: cover; /*A imagem manterá a proporção e cortará o excesso para preencher a altura*/
                filter: brightness(0.5);
            }
        }
    }

    .OverViewCard {

        margin: 3em 3em;

        .OverViewCardContent {
            text-align: center;
            font-weight: bold;
            color: $dark-green;

            .OverViewCardTitle {
                font-size: 2.4em;
            }

            .OverViewCardDescription {
                text-align: justify;
                font-size: 1.7em;
            }
        }
    }

    .Assuntos {
        color: white;

        .AssuntosTitle {
            background-color: $dark-olive-green;
            text-align: center;
            font-weight: 700;
            font-size: 3rem;
        }

        .AssuntosCard {
            display: flex;
            align-items: center;
            background-color: $dark-olive-green;

            &:nth-of-type(2) {
                background-color: white;

                .AssuntosCardContent {
                    color: $vivid-green;
                }
            }

            .AssuntosCardContent {
                width: 50%;
                font-weight: 600;
                
                .AssuntosCardTitle {
                    text-align: center;
                    font-size: 2rem;
                    line-height: 2.25rem;
                }

                .AssuntosCardDescription {
                    width: 396px;
                    margin: 0em auto;
                    text-align: justify;
                }
            }

            .AssuntosCardCarrosel {
                overflow: hidden;
                white-space: nowrap;
                width: 50%;
                font-size: 0px;

                @keyframes Carrosel {
                    from {
                        transform: translateX(0);
                    }
                    to {
                        transform: translateX(-100%);
                    }
                }

                .AssuntosCardImg {
                    display: inline-block;

                    animation: 25s Carrosel infinite linear;
    
                    img {
                        display: inline-block;
                        max-width: none;
                        object-fit: cover;
                        height: 20em;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width:800px) {
    .PrincipalContainer {
        .Assuntos {
            .AssuntosCard {
                flex-direction: column;
        
                .AssuntosCardContent, .AssuntosCardCarrosel {
                    width: 100%;
                }

                .AssuntosCardContent {
                    padding-top: 0.875rem;
                    padding-bottom: 0.875rem;
                }
            }
    
            .AssuntosCard:nth-child(2) {
                .AssuntosCardContent:nth-child(1) {
                    order: 2;
                }
            }
        }
    }
}

@media (max-width:690px) {
    .PrincipalContainer {
        .ApresentaçãoTC {
            .TCardContent {
                text-align: center;

                .TCardTitle {
                    font-size: 2.7em;
                }
            }
        }

        .OverViewCard {
            .OverViewCardContent {
                .OverViewCardDescription {
                    font-size: 1.5rem;
                    line-height: 2rem;
                }
            }
        }
    }
}

@media (max-width:425px) {
    .PrincipalContainer {

        .OverViewCard {
            margin: 3em 2.6em;

            .OverViewCardContent {
                .OverViewCardDescription {
                    font-size: 1.2rem;
                    line-height: 1.45rem;
                    //font-size: 1.25rem;
                    //line-height: 1.75rem;
                }
            }
        }

        .Assuntos {
            .AssuntosCard {
                .AssuntosCardContent {
                    .AssuntosCardDescription {
                        width: auto;
                        margin: 0em 1em;
                    }
                }
            }
        }
    }
}