@import "../variables/colors/colors.scss";

@import "../variables/common/breakpoint.scss";

@import "../variables/fonts/fonts.scss";

main {
    font-family: 'Montserrat', sans-serif;
}

.PrincipalContainer {
    .ApresentaçãoTC {
        display: flex;
        justify-content: center;
        align-items: center;
        
        .TCardContent {

            position: absolute;
            color: white;
            z-index: 10;

            .TCardTitle {
                font-family: 'Roboto', sans-serif;
                font-size: 3.4em;
                font-weight: 600;
            }

            .TCardDescription {
                font-size: 1.3em;
                font-weight: 500;
            }
        }

        .TCardImage {
            width: 100%;

            img {
                width: 100%; /*A imagem ocupará 100% da largura do site*/
                height: 25em; /*Altura fixa de 20em*/
                object-fit: cover; /*A imagem manterá a proporção e cortará o excesso para preencher a altura*/
            }
        }
    }

    .OverViewCard {

        margin: 3em 3em;

        .OverViewCardContent {
            text-align: center;
            font-weight: bold;
            color: $dark-green;

            .OverViewCardTitle {
                font-size: 2.4em;
            }

            .OverViewCardDescription {
                text-align: justify;
                font-size: 1.7em;
            }
        }
    }

    .Ideias {
        color: white;

        .IdeiasTitle {
            background-color: $dark-olive-green;
            text-align: center;
            font-weight: 700;
            font-size: 3rem;
        }

        .IdeiasCard {
            display: flex;
            align-items: center;
            background-color: $dark-olive-green;

            &:nth-of-type(2) {
                background-color: white;

                .IdeiasCardContent {
                    color: $vivid-green;
                }
            }

            .IdeiasCardContent {
                width: 50%;
                font-weight: 600;
                
                .IdeiasCardTitle {
                    text-align: center;
                    font-size: 2rem;
                    line-height: 2.25rem;
                }

                .IdeiasCardDescription {
                    width: 396px;
                    margin: 0em auto;
                    text-align: justify;
                }
            }

            .IdeiasCardImg {
                width: 50%;

                img {
                    width: 100%;
                    height: 20em;
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width:1000px) {

}