@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: "Montserrat Subrayada", sans-serif;
font-family: 'Roboto', sans-serif;
font-family: "Josefin Sans", sans-serif;
*/
main {
  font-family: "Montserrat", sans-serif;
}

.PrincipalContainer .ApresentaçãoTC {
  display: flex;
  justify-content: center;
  align-items: center;
}
.PrincipalContainer .ApresentaçãoTC .TCardContent {
  position: absolute;
  color: white;
  z-index: 10;
  padding: 0em 1em;
}
.PrincipalContainer .ApresentaçãoTC .TCardContent .TCardTitle {
  font-family: "Roboto", sans-serif;
  font-size: 3.4em;
  font-weight: 600;
}
.PrincipalContainer .ApresentaçãoTC .TCardContent .TCardDescription {
  font-size: 1.3em;
  font-weight: 500;
}
.PrincipalContainer .ApresentaçãoTC .TCardImage {
  width: 100%;
}
.PrincipalContainer .ApresentaçãoTC .TCardImage img {
  width: 100%; /*A imagem ocupará 100% da largura do site*/
  height: 25em; /*Altura fixa de 20em*/
  object-fit: cover; /*A imagem manterá a proporção e cortará o excesso para preencher a altura*/
  filter: brightness(0.5);
}
.PrincipalContainer .OverViewCard {
  margin: 3em 3em;
}
.PrincipalContainer .OverViewCard .OverViewCardContent {
  text-align: center;
  font-weight: bold;
  color: #15803D;
}
.PrincipalContainer .OverViewCard .OverViewCardContent .OverViewCardTitle {
  font-size: 2.4em;
}
.PrincipalContainer .OverViewCard .OverViewCardContent .OverViewCardDescription {
  text-align: justify;
  font-size: 1.7em;
}
.PrincipalContainer .Assuntos {
  color: white;
}
.PrincipalContainer .Assuntos .AssuntosTitle {
  background-color: #505F04;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
}
.PrincipalContainer .Assuntos .AssuntosCard {
  display: flex;
  align-items: center;
  background-color: #505F04;
}
.PrincipalContainer .Assuntos .AssuntosCard:nth-of-type(2) {
  background-color: white;
}
.PrincipalContainer .Assuntos .AssuntosCard:nth-of-type(2) .AssuntosCardContent {
  color: #239D12;
}
.PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardContent {
  width: 50%;
  font-weight: 600;
}
.PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardContent .AssuntosCardTitle {
  text-align: center;
  font-size: 2rem;
  line-height: 2.25rem;
}
.PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardContent .AssuntosCardDescription {
  width: 396px;
  margin: 0em auto;
  text-align: justify;
}
.PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardCarrosel {
  overflow: hidden;
  white-space: nowrap;
  width: 50%;
  font-size: 0px;
}
@keyframes Carrosel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardCarrosel .AssuntosCardImg {
  display: inline-block;
  animation: 25s Carrosel infinite linear;
}
.PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardCarrosel .AssuntosCardImg img {
  display: inline-block;
  max-width: none;
  object-fit: cover;
  height: 20em;
  font-size: 1rem;
}

@media (max-width: 800px) {
  .PrincipalContainer .Assuntos .AssuntosCard {
    flex-direction: column;
  }
  .PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardContent, .PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardCarrosel {
    width: 100%;
  }
  .PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardContent {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
  }
  .PrincipalContainer .Assuntos .AssuntosCard:nth-child(2) .AssuntosCardContent:nth-child(1) {
    order: 2;
  }
}
@media (max-width: 690px) {
  .PrincipalContainer .ApresentaçãoTC .TCardContent {
    text-align: center;
  }
  .PrincipalContainer .ApresentaçãoTC .TCardContent .TCardTitle {
    font-size: 2.7em;
  }
  .PrincipalContainer .OverViewCard .OverViewCardContent .OverViewCardDescription {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media (max-width: 425px) {
  .PrincipalContainer .OverViewCard .OverViewCardContent .OverViewCardDescription {
    font-size: 1.2rem;
    line-height: 1.45rem;
  }
  .PrincipalContainer .Assuntos .AssuntosCard .AssuntosCardContent .AssuntosCardDescription {
    width: auto;
    margin: 0em 1em;
  }
}

/*# sourceMappingURL=index.css.map */
