@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Subrayada:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*
font-family: 'Montserrat', sans-serif;
font-family: "Montserrat Subrayada", sans-serif;
font-family: 'Roboto', sans-serif;
font-family: "Josefin Sans", sans-serif;
*/
.main-container {
  font-family: "Montserrat", sans-serif;
}
.main-container .TecnologiaSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .TecnologiaSection .TecnologiaContent {
  position: absolute;
  color: white;
  z-index: 10;
  padding: 0 2em;
  text-align: center;
  width: 70%;
}
.main-container .TecnologiaSection .TecnologiaContent .TecnologiaTitle {
  font-size: 3.4em;
  font-weight: 600;
}
.main-container .TecnologiaSection .TecnologiaContent .TecnologiaDescription {
  font-size: 1.2em;
}
.main-container .TecnologiaSection .TecnologiaImage {
  width: 100%;
}
.main-container .TecnologiaSection .TecnologiaImage img {
  width: 100%; /*A imagem ocupará 100% da largura do site*/
  height: 25em; /*Altura fixa de 20em*/
  object-fit: cover; /*A imagem manterá a proporção e cortará o excesso para preencher a altura*/
  filter: brightness(0.5);
}
.main-container .main-content {
  display: flex;
  position: relative;
}
.main-container .main-content .SeçõesContainer {
  flex: 1;
  padding: 0 20px;
}
.main-container .main-content .sidebar {
  width: 250px;
  background-color: #fff;
  border-left: 2px solid #e0e0e0; /* Alterado para borda à esquerda */
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.05); /* Sombra à esquerda */
  position: sticky;
  top: 0; /* Fixa a barra ao topo da página ao rolar */
  height: 100vh; /* Ajusta a altura para ocupar a tela toda */
  overflow-y: auto; /* Adiciona barra de rolagem se necessário */
}
.main-container .main-content .sidebar h3 {
  margin-bottom: 20px;
  font-size: 1.2em;
  color: #055216;
}
.main-container .main-content .sidebar .sidebar-nav ul {
  list-style: none;
}
.main-container .main-content .sidebar .sidebar-nav ul li {
  margin-bottom: 10px;
}
.main-container .main-content .sidebar .sidebar-nav ul li a {
  display: block;
  padding: 8px 12px;
  border-radius: 4px;
  background-color: #e0f2e0;
  font-weight: bold;
  color: #0a431d;
  text-align: center;
}
.main-container .main-content .sidebar .sidebar-nav ul li a:hover {
  background-color: #cfe9cf;
  color: #055216;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-container .main-content {
    flex-direction: column;
  }
  .main-container .main-content .SeçõesContainer {
    order: 2;
  }
  .main-container .main-content .sidebar {
    width: 100%;
    height: auto;
    border-left: none;
    border-top: 2px solid #e0e0e0;
    box-shadow: none;
    position: relative;
    top: auto;
    order: 1;
  }
}

/*# sourceMappingURL=tecnologia-agro.css.map */
